 /* .topnav {
    background-color: #333;
    overflow: hidden;
  } 
  
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  } 
  
 .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
   
  .topnav a.active {
    background-color: #04AA6D;
    color: white; 
   }
  
  .a{
    display: flex;
    flex-direction: row;
    align-items: flex-start

  }
   



  


    */

    .top{
      background-color: #333;
  overflow: hidden
    }
    .top a{
      float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
    }
    .top a:hover {
      background-color: #ddd;
      color: black;
    }
    .top a.active {
      background-color: #04AA6D;
      color: white;
    }
    /* .body{
      background-color: #c9eade;

    } */
    .full{
      background-color: rgb(198, 234, 234);
      
    }
    .nav-field{
      display: grid;
      justify-items: center;
    }
    .nav-value{
      display: grid;
      justify-items: center;
    }
    .img{
      display: grid;
      justify-content: center;
      
    }
    .adjust{
      display: grid;
      align-content: center;
      padding: 60px;
    }
    .b{
      display: grid;
      justify-items: center;
      
      
    }
    .add{
      display: grid;
      align-content: center;
      padding: 60px;
    }
    .a1{
      color:  black;
      border: #ddd;

    }
    .overall{
      background-color: aliceblue;
    }
  .crt{
    display: block;
  margin-left: auto;
  margin-right: auto;
    width: 100%;
  height: auto;
  }
    
  
    
    